# For projects that use the Waf build system: https://waf.io/
# Dot-hidden on Unix-like systems
.waf-*-*/
.waf3-*-*/
# Hidden directory on Windows (no dot)
waf-*-*/
waf3-*-*/
# Lockfile
.lock-waf_*_build
chikaro/images/_gif_animation_043.gif
chikaro/images/_gif_animation_044.gif
chikaro/images/_gif_animation_047.gif
